body {
    background-color: #f5f5f5;
}
.titre {
    
    display: flex;
    margin-left: 100px;
    position:initial;
    top: 100px;
    font-style: bold ;
    justify-content: left;
    color :#21443d ;
    padding: 50px;
    font-size: 50px;
  
   
  }